/* use https://github.com/jensschnitzler/The-Typeface-of-Our-Time/blob/master/assets/css/style.css */
@import url("https://rawcdn.githack.com/jensschnitzler/The-Typeface-of-Our-Time/47925de45abe014918edc75155161aaf8d97aa08/assets/css/style.css");

body, html {
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .6rem;
  margin-bottom: .6rem;
  text-transform: uppercase;
}

blockquote {
  margin: .5rem 0 0 2rem;
}

blockquote, blockquote *  {
  font-size: .7rem;
  font-style: normal;
  font-weight: normal;
}

blockquote:last-of-kind {
  margin-bottom: .5rem;
}

p {
  margin-top: .6rem;
  margin-bottom: .6rem;
  margin-left: 2rem;
}

p+p {
  text-indent: 0;
}

.sticky {
  display: block;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
