/* use https://github.com/jensschnitzler/The-Typeface-of-Our-Time/blob/master/assets/css/style.css */
@import url("https://rawcdn.githack.com/jensschnitzler/The-Typeface-of-Our-Time/47925de45abe014918edc75155161aaf8d97aa08/assets/css/style.css");

blockquote {
  margin: .5rem 0 0 2rem;
}

blockquote, blockquote *  {
  font-size: .7rem;
  font-style: normal;
  font-weight: normal;
}

blockquote:last-of-kind {
  margin-bottom: .5rem;
}

p+p {
  text-indent: 0;
  margin: .5rem 0 0 0;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
}
