/* use https://github.com/jensschnitzler/The-Typeface-of-Our-Time/blob/master/assets/css/style.css */
@import url("https://rawcdn.githack.com/jensschnitzler/The-Typeface-of-Our-Time/47925de45abe014918edc75155161aaf8d97aa08/assets/css/style.css");

blockquote p {
  margin-left: 2rem;
  font-size: .6rem;
}

p+p {
  text-indent: 0;
  margin-top: .5rem;
}
